.footer {
  background-color: #0A172A;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
}

.footer ul {
  font-size: 32px;
  margin-top: 24px;
  padding: 0px;
}

.footer li {
  padding: 4px 16px;
  opacity: 0.5;
}

.footer li:hover {
  color: white;
  opacity: 0.7;
}

.footer a {
  color: #FAFAFA;
}

.footer p {
  color: #FAFAFA;
}
